.navbar{
    background-color: rgb(30,24,66);
    color: snow;
    font-size: 18px;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.list-uls>li:last-child{
    background-color: rgb(196, 12, 119);
    padding: 5px 10px;
    border-radius: 5px;
}
.profile-name{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulwrapper{
    width: 60%;
    display: flex;
}
.list-uls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-uls{
    list-style: none;
}
.list-uls a{
    text-decoration: none;
    color: snow;
}
.closeicon{
    display: none;
}
.hambergmenu{
    display: none;
}
@media only screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
        height: 50px;
    }
    .profile-name{
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .closeicon{
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        padding: 20px;
    }
    .hambergmenu{
        display: block;
    }
    .closeicon>img{
        width: 35px;
        height: 35px;
    }
    .hambergmenu>img{
        width: 25px;
        height: 25px;
    }
    .ulwrapper{
        border: 2px solid snow;
        position: absolute;
        flex-direction: column;
        top: 0px;
        left: 0px;
        width: 45%;
        background-color:rgb(30,24,66) ;
        height: 100vh;
        transition: 0.5s;
    }
    .list-uls{
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
    }
    .list-uls>li{
        width: 150px;
        text-align: center;
        font-size: 25px;
        border: 2px solid snow;
    }
    .inactive{
        transition: 0.5s;
        left: -100%;
    }
}
@media only screen and (max-width: 450px) {
    .ulwrapper{
        width: 100%;
    }
}
