.project {
    width: 100%;
    padding: 20px;
    background-color: rgb(147, 144, 165);
}

.project-heading {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(30, 24, 66);
    font-weight: bold;
}

.project-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.project-item {
    display: flex;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 20px;
}

.item-left>img {
    width: 600px;
    height: 280px;
    border-radius: 20px;
}

.item-name {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #1e1842;
}

.button button {
    outline: none;
    background-color: rgb(196, 12, 119);
    font-size: 18px;
    padding: 5px 10px;
    width: 80px;
    border: none;
    color: snow;
    border-radius: 5px;
}

.item-right img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.techstack {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
    .item-left>img {
        width: 500px;
        height: 280px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 950px) {
    .project-item {
        flex-direction: column;
        padding: 10px;
    }

    .techstack {
        flex-direction: column;
        justify-content: center;
    }

    .item-left {
        width: 100%;
    }

    .item-left>img {
        width: 100%;
        height: 200px;
    }

    .button {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .project {
        padding: 0%;
    }
}