*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins';
}
html{
  scroll-behavior: smooth;
}
button:hover,img:hover,li:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: snow;
}

