.navbar{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar li{
    list-style: none;
}
.navbar>div:last-child>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 15px;
    text-transform: uppercase;
    text-shadow: 1px;
    font-weight: bold;
}
.navbar>div:last-child>ul>li{
    
}